.container {
  width: 500px;
  margin: 20px auto 25px;
  height: 100%;

  @media screen and (max-width: 600px) {
    width: 80%;
  }
}

.act_btn {
  background-color: transparent;
}

.orderLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.subArticle {
  opacity: 0.6;
}

.divider {
  margin: 10px 0;
}

.btnContainer {
  display: flex;
  justify-content: space-between;

  button {
    margin: 0 0 20px 0;
  }

  @media screen and (max-width: 600px) {
    display: block;

    button {
      width: 100%;
    }
  }
}
