.container {
  width: 400px;
  height: 120px;
  border: solid 1px #b6b6b6;
  display: flex;
  position: relative;
  border-radius: 20px;

  @media screen and (max-width: 600px) {
    width: 100%;
  }

  .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;
    }

    .desc {
      opacity: 0.65;
      max-width: 100%;
    }
  }

  .button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
